/* Styling simple et épuré */
$users-bleu: #3266d8;
$users-neutral: #2634b8;
$users-tea: #2340a1f3;


// Custom styles for Mastercard invoice list
:host {
  display: block;
}

// Card header styling
.card-header {
  background-color: lighten($users-neutral, 48%);
  border-bottom: 2px solid $users-neutral;

  h2 {
    color: darken($users-tea, 15%);
  }
}

// Primary button styling
.btn-primary {
  background-color: $users-bleu;
  border-color: $users-bleu;

  &:hover,
  &:focus {
    background-color: darken($users-bleu, 10%);
    border-color: darken($users-bleu, 10%);
  }
}

// Secondary button styling
.btn-secondary {
  background-color: #88b8e2;
  border-color: #88b8e2;

  &:hover,
  &:focus {
    background-color: darken(#88b8e2, 10%);
    border-color: darken(#88b8e2, 10%);
  }
}

.table-hover tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  .badge {
    font-size: 0.9rem;
  }
  